<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <a href="{{ url_for('upload_page') }}" class="upload-button">
        <button type="button" class="action-button">Upload Files</button>
    </a>

    <a href="{{ url_for('download_page') }}" class="upload-button">
        <button type="button" class="action-button">Download Files</button>
    </a>

</body>
</html>