<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filer</title>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="send_files_box">
        <h1>Send Files</h1>
        <h2>Upload the files you want to send below</h2>
    </div>

    <div class="receive_files_box">
        <h1>Receive Files</h1>
        <h2>Enter download code to download your files</h2>
    </div>
    
</body>
</html>
