<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <h1>Upload your files</h1>
        <form action="{{ url_for('upload_files') }}" method="POST" enctype="multipart/form-data" class="upload-form">
            <input type="file" name="upload_files" class="file-input" multiple>
            <input type="submit" value="Upload" class="submit-button">
        </form>
    </div>
</body>
</html>